<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="notifications-list">
    <div class="columns is-vcentered chat-partner is-mobile is-tablet is-desktop">
        <div class="is-centered column is-4-desktop is-3-tablet is-2-mobile image is-inline-block">
            <%= link_to user_path(visitor) do %>
                <% if visitor.image.attached? %>
                    <%= image_tag visitor.image, class: 'image is-64x64 is-rounded' %>
                <% else %>
                    <%= image_tag 'default.jpeg', class: "image is-64x64 is-rounded" %>
                <% end %>
            <% end %>
        </div>
        <div class="notification-text column is-8-desktop is-9-tablet is-10-mobile image is-inline-block pr-5 mr-5">
            <span><%= link_to visitor.name, user_path(visitor) %>さんが</span>
            <% if notification.action=='dm' %>
                <span>あなたに</span>
                <span><%= link_to 'DM', notification.room, style: "font-weight-bold" %></span>
                <span>を送りました</span>
            <% elsif notification.action=='follow'  %>
                <span>あなたをフォローしました</span>
            <% elsif notification.action=='like'  %>
                <span><%= link_to 'あなたの投稿', notification.photo, style: "font-weight-bold" %></span>
                <span>にいいねしました</span>
            <% else notification.action=='comment'  %>
                <% if notification.photo.user_id == visited.id  %>
                    <span><%= link_to "あなたの投稿", notification.photo, style: "font-weight-bold" %></span>
                    <span>にコメントしました</span>
                <% end %>
            <% end %>
        </div>
    </div>
    <hr>
</div>
