<div class="columns is-centered is-mobile is-tablet is-desktop user-page">
  <div class="column is-9-desktop is-10-tablet is-12-mobile">
    <table>
      <tr>
        <td class="image">
          <% if @user.image.attached? %>
            <%= image_tag @user.image, class: 'image is-128x128 is-rounded' %>
          <% else %>
            <%= image_tag 'default.jpeg', class: "image is-128x128 is-rounded" %>
          <% end %>
        </td>


        <td class="pl-5 pt-1">
          <div class="title is-3"><%= @user.name %></div>
          <div class="feature-box pb-4">
            <div class="feature">
              <p>投稿<%= @user.photos.count %>件</p>
            </div>
            <div class="feature">
              <%= link_to user_followers_path(@user) do %>
                <p class="has-text-grey-dark">フォロワー<%= @user.followers.count %>人</p>
              <% end %>
            </div>
            <div class="feature">
              <%= link_to user_followings_path(@user) do %>
                <p class="has-text-grey-dark">フォロー中<%= @user.followings.count %>人</p>
              <% end %>
            </div>
            <div>

            </div>
          </div>
          <p class="mb-3"><%= @user.profile %></p>
          <p class="mb-3 has-text-weight-bold">お気に入り漫画：<%= @user.comic %></p>
        </td>
      </tr>
    </table>

    <div id="user_follow_button">
      <% unless current_user == @user %>
        <% if current_user.following?(@user) %>
          <%= render 'relationships/unfollow_button', user: @user %>
        <% else %>
          <%= render 'relationships/follow_button', user: @user %>
        <% end %>
      <% end %>
    </div>

    <% if @user.id == current_user.id %>
      <div class="columns">
        <div class="column is-6">
          <%= link_to 'edit', edit_user_registration_path, class:"btn btn-success btn-block button is-info column is-12 mb-3"  %>
        </div>
        <div class="column is-6">
          <div class="colmuns">
            <%= link_to 'likes', user_likes_path(@user), class:"btn btn-success btn-block button is-info column is-12 mb-3" %>
          </div>
        </div>
      </div>
    <% end %>

    <hr class="mb-5">

    <% @user.photos.each do |photo| %>
      <div class="card column is-4-mobile is-4-tablet is-gapless user-card mb-1">
        <div class="card-image">
          <%= link_to [photo] do %>
            <%= image_tag photo.image, class:"img" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
