<div class="tabs">
  <ul>
    <li>
      <%= link_to '写真投稿', [:new, :photo]%>
    </li>
    <li>
      <%= link_to 'logout', destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</div>


<h4><%= current_user.email %></h4>


<%# <hr color="#6c757d" size="4px"> %>

<% @feeds.each do |photo| %>
  <div class="card mb-5">
    <div class="card-image">
      <figure class="image">
        <%= link_to [photo] do %>
          <%= image_tag photo.image %>
        <% end %>
      </figure>
    </div>
    <div class="card-content">
      <div>
        <%= link_to photo.user.email, [photo.user] %>
      </div>
      <div>
        <%= photo.caption %>
      </div>
    </div>
  </div>

<% end %>
