<p class="is-size-3 logo mb-2">メッセージ</p>
<div class="dm-list">
  <% @anotherEntries.each do |e| %>
    <%= link_to room_path(e.room.id) do %>
      <div class="columns is-vcentered is-centered chat-partner is-mobile is-tablet is-desktop">
        <div class="column is-3-desktop is-4-tablet is-4-mobile image is-inline-block">
          <% if e.user.image.attached? %>
            <%= image_tag e.user.image, class: 'image is-64x64 is-rounded' %>
          <% else %>
            <%= image_tag 'default.jpeg', class: "image is-64x64 is-rounded" %>
          <% end %>
        </div>
        <% if @anotherEntries.any? %>
          <div class="column is-3-desktop is-3-tablet is-4-mobile">
            <%= e.user.name %><br>
          </div>
          <div class="column is-3-desktop is-5-tablet is-4-mobile is-centered last-content">
            <% if e.room.messages.exists? %>
              <%= Message.find_by(id: e.room.message_ids.last)&.content.truncate(18) %>
            <% else %>
              <p>メッセージがないです</p>
            <% end %>
          </div>
        <% else %>
          <p>dmがないです</p>
        <% end %>
      </div>
      <hr>
    <% end %>
  <% end %>
</div>
