
<div class="dm">
  <div class="dm-header">
    <%= link_to rooms_path, class: 'button is-ghost rooms-back' do %>
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    <% end %>

    <% @entries.each do |e| %>
      <% if e.user.id != current_user.id %>
        <strong class="is-size-4 ml-3"><a href="/users/<%= e.user.id %>"><%= e.user.name%></a></strong>
      <% end %>
    <% end %>
  </div>

  <hr>

  <div class="dm-content">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
      <% if m.user != current_user %>
        <div class="columns">
          <figure class="image column is-1">
            <% if m.user.image.attached? %>
              <%= image_tag m.user.image, class: 'image is-48x48 is-rounded chat-image' %>
            <% else %>
              <%= image_tag 'default.jpeg', class: "image is-48x48 is-rounded chat-image" %>
            <% end %>
          </figure>
          <div class="column is-3 balloon1-left">
            <strong class="column is-11 has-text-centered"><%= m.content %></strong>
          </div>
        </div>
      <% else %>
        <div class="columns level-right">
          <div class="column is-3 balloon1-right"><strong class="column is-11 has-text-centered"><%= m.content %></strong></div>
          <figure class="image column is-1">
            <% if m.user.image.attached? %>
              <%= image_tag m.user.image, class: 'image is-48x48 is-rounded chat-image' %>
            <% else %>
              <%= image_tag 'default.jpeg', class: "image is-48x48 is-rounded chat-image" %>
            <% end %>
          </figure>
        </div>
      <% end %>

      <% end %>
    <% else %>
      <h3 class="text-center">メッセージはまだありません</h3>
    <% end %>
    <div class="dm-text mb-5">
      <%= form_for @message do |f| %>
        <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :style=>"width: 60%", class: 'input mt-5' %>
        <%= f.hidden_field :room_id, :value => @room.id %>
        <br>
        <%= f.submit "送信", class: 'button is-info ml-2' %>
    <% end %>
    </div>
  </div>
</div>
