<!DOCTYPE html>
<html>
  <head>
    <title>CCAM-s</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <nav class="navbar is-fixed-top is-mobile is-tablet is-desktop pt-2 pb-2">
      <div class="Logo">
        <%= link_to "CCAM-s", [:root], class: 'navbar-item is-5-tablet is-5-mobile has-text-weight-bold' %>
      </div>
      <div class="navbar-brand navbar-end is-7-tablet is-7-mobile">
        <% if logged_in? %>
          <%= link_to search_path, class: "btn navbar-item", method: :get do %>
            <i class="fa fa-search fa-lg" aria-hidden="true"></i>
          <% end %>
          <%= link_to new_photo_path, class: "btn navbar-item", method: :get do %>
            <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i>
          <% end %>
          <%= link_to rooms_path, class: "btn navbar-item", method: :get do %>
            <i class="fa fa-commenting fa-lg" aria-hidden="true"></i>
          <% end %>

          <%= link_to notifications_index_path, class: "btn navbar-item", method: :get do %>
            <% if unchecked_notifications.any? %>
              <span class="fa-stack">
                <i class="fa fa-bell fa-lg fa-stack-1x" aria-hidden="true"></i>
                <i class="fa fa-circle nav-circle fa-stack-1x" aria-hidden="true"></i>
              </span>
            <% else %>
              <span class="fa-stack">
                <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
              </span>
            <% end %>
          <% end %>

          <%= link_to ranks_path, class:'btn navbar-item' do %>
            <i class="fas fa-crown fa-lg"></i>
          <% end %>
          <div class="image">
            <% if current_user.image.attached? %>
              <%= link_to current_user, method: :get do %>
                <%= image_tag current_user.image, class: 'btn image is-32x32 is-rounded navbar-item' %>
              <% end %>
            <% else %>
              <%= link_to current_user, method: :get do %>
                <%= image_tag 'default.jpeg', class: "btn is-32x32 image is-rounded navbar-item" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </nav>

    <div class="container">
      <div class="columns is-centered is-mobile is-tablet is-desktop">
        <div class="column is-10-desktop is-11-tablet is-12-mobile background">
          <div class="notifications">
            <% flash.each do |key, value| %>
              <%= content_tag(:div, value, class: key) %>
            <% end %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
